.formulario{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.formulario-form{
    max-width: 80%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 8rem 16rem;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}