.time{
    text-align: center;
    padding: 2rem;
}

.time-titulo{
    font-size: 32px;
    border-bottom: 0.2rem solid;
    display: inline-block;
    padding-bottom: 0.33rem;
}

.time .colaboradores{
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}