.time{
    text-align: center;
    padding: 2rem;
    background-color: #D9F7E9;
}

.time-titulo{
    font-size: 32px;
    border-bottom: 0.2rem solid #57C278;
    display: inline-block;
    padding-bottom: 0.33rem;
}