.campo-texto{
    margin: 1rem 0;
     display: flex;
    flex-direction: column; 
}

.label_campo-texto{
    display: block;
    margin-bottom: 0.75rem;
    font-size: 24px;
}

.ipt{
    background-color: #ffffff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 1rem;
    box-sizing: border-box;
} 
